html, body {
       position: relative;
       height: 100%;
   }

.swiper-container {
      width: 100%;
      height: 100%;
  }

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 25%;
}

.swiper-slide img {
  /*height: 100%;*/
  width: 100%;
}
